{% extends 'adminbar.html' %}
{% block content %}
<body align="center">
<h1> New Book</h1>
<form method="POST" action="addbook">
    {% csrf_token %}
    <label>Book Name:</label><input type="text" name="bname"><br>
    <label>Book Author:</label><input type="text" name="aname"><br>
    <label>Book Price:</label><input type="number" name="price"><br>
    <label>Book Desc:</label><input type="text" name="bookd"><br>
    <input type="submit" name="Add Book">
</form>
{% if valid %}
    <h5 style="color:green"> book added</h5>
{% endif %}
</body>
{% endblock %}